@model TestWebApplication.Models.EmployeeDB

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EmployeeDB</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           NAME
        </dt>
        <dd class = "col-sm-10">
            @Model.Name
        </dd>
        <dt class = "col-sm-2">
            Email
        </dt>
        <dd class = "col-sm-10">
            @Model.Email
        </dd>
        <dt class = "col-sm-2">
            Position
        </dt>
        <dd class = "col-sm-10">
            @Model.Position
        </dd>
        <dt class = "col-sm-2">
            Department
        </dt>
        <dd class = "col-sm-10">
            @Model.Department.Name
        </dd>
    </dl>
</div>
<div>
    <a href="/EmployeeDB/Edit/@Model.EmployeeDBId">Edit</a> |
    <a href="/EmployeeDB/Index">Back to List</a>
</div>
